<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"> categories</h6>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>id</th>
              <th>name category</th>
              <th>action</th>
            </tr>
          </thead>
       
          <tbody>
            <tr *ngFor="let cat of cats  ; index as  i">
              <td>{{i+1}}</td>
              <td>{{cat.name}}</td>
           
              <td>
                <button type="button" class="btn btn-success btn-sm" (click)="editRow(cat,cat._id)" data-toggle="modal" data-target="#addModal">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(cat._id)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Ajout d'un categorrie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="catForm" >
            <div class="form-group">
              <label for="name">nom</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="modal-footer">
              <button  (click)="update()" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  