   <!-- Page Wrapper -->
   <div id="wrapper">

    <!-- Sidebar -->

    <aside>
      <p style="margin-left: 50px;"> <strong> AGENT BUREAU </strong> </p>

  <a href="javascript:void(0)"  [routerLink]="['/agentb/reclamations']">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Réclamations
  </a>
  <a href="javascript:void(0)"  [routerLink]="['/agentb/agent-mission']">
    <i class="fa fa-laptop" aria-hidden="true"></i>
    agent-mission
  </a>
  <a href="javascript:void(0)"  [routerLink]="['/agentb/category']">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Catégorie
  </a>
  <a href="javascript:void(0)"  [routerLink]="['/agentb/category-rec']">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Catégorie Réclamations
  </a>

</aside> 


   
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item dropdown">
           
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
                  </div>
                </li>
                <li class="nav-item">
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" style="margin-top: 10px;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" style="margin-left: 600px; margin-right: 50px;">Déconnexion</button>

              </form>
            </div>
          </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

              

            <router-outlet></router-outlet>

        </div>
        <!-- End of Main Content -->

   
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

