<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">liste des réclamations</h6>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">
        <i class="fas fa-plus"></i>
      </button>    <div class="card-body">
    </div>

      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>id</th>
              <th>photo</th>
              <th>municipalité</th>
              <th>adresse</th>
              <th>catégorie</th>
              <th>Action</th>

             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec of recs ; index as  i">
              <td>2</td>
              <td><img [src]="rec.image" alt="Test Photo"></td>
              <td>{{rec.municipalite}}</td>
              <td>{{rec.adresse}}</td>
              <td>{{rec.status}}</td>

              <td>
              
                <button type="button" class="btn btn-success btn-sm"  (click)="data(rec)" data-toggle="modal" data-target="#addModal" >
                  <i class="fa fa-user-circle"></i> 
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRow(this)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  





  <!-- list Agent Bureau  -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">affecter une reclamation</h5>

      </div>
      <div class="modal-body">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>nom</th>
                    <th>prénom</th>
                    <th>tél</th>
                    <th>municipalite</th>
                    <th>Action</th>
                  </tr>
                </thead>
             
                <tbody>
                  <tr *ngFor="let agent of agents ; index as  i">
                    <td>{{i+1}}</td>
                    <td>{{agent.name}}</td>
                    <td>{{agent.lastname}}</td>
                    <td>{{agent.municipalite}}</td>
                    <td>{{agent.adresse}}</td>
                    <td>
                      <button type="button" class="btn btn-success btn-sm" (click)="assign(agent)">
                        <i class="fa fa-inbox"></i> 
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>